@font-face{
    font-family: "Open Sans";
    src: url(../../Fonts/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face{
    font-family: "OpenSans ExtraBold";
    src: url(../../Fonts/static/OpenSans/OpenSans-ExtraBold.ttf);
}