.listing
{
    margin: 30rem 10rem;
    color: var(--gamma);

    &_more
    {
        h1{
            margin: 25rem 0;
            font-size: 17rem;
        }
    }

    &_skills
    {
        display: flex;
        flex-wrap: wrap; //without this a list of skills will stay as a long stretched line of text
        li{
            background-color: var(--skills);
            padding: 7rem 9rem;
            font-size: 14rem;
            border-radius: 16rem;
            margin-right: 10rem;
            margin-bottom: 10rem;
        }
    }

    &_saved_summary
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15rem;

        li:first-of-type
        {
            display: flex;
            span
            {
                margin-right: 10rem;
            }
        }

        li:last-of-type
        {
            background-color: var(--elements);
            color: var(--light);
            padding:  2rem 3rem;
            border-radius: 4rem;
            font-size: 15rem;
        }
    }

    &_card
    {
        border: 1px var(--beta) solid;
        background-color: var(--light);
        padding: 15rem;
        border-radius: 5rem;
        box-shadow: 1px 2px 3px 1px var(--elements);
        margin-bottom: 20rem;

        &--apply
        {
            border-radius: 0;
            border: none;
            box-shadow: none;
        }
    }

    &_header
    {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
        grid-gap: 5rem;
    }

    &_title
    {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        color: var(--beta);
        font-size: 17rem;
    }

    &_saved
    {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: right;
    }

    &_company
    {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        font-size: 14rem;

        span
        {
            color: var(--beta);
        }
    }

    &_items
    {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10rem;

        margin: 15rem 0;
        font-size: 14rem;

        li
        {
            display: flex;
            img{
                margin-right: 7rem;
            }
        }

        li:nth-of-type(2)//This is the line with Heyes, Uxbridge, moves it to right
        {
            justify-self: right;
        }
    }

    &_detail
    {
        font-size: 14rem;
        line-height: 20rem;
    }

    &_cta
    {
        font-size: 14rem;
        text-decoration: underline;
        text-align: right;
        display: block;

        &--light
        {
            color: var(--beta);
        }

        &--alert
        {
            color: var(--alert);
        }
    }

    @include respond-to('small')
    {
        display: grid;
        grid-template-columns: min-content 1fr;
    }
}